

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Exam Performance Indicator</title>
<html>
<body>
    <h1>End To End ML Project</h1>
    <br>
    <h2>ML-Deployment-In-AWS-AWS-Elastic-Beanstalk-Using-CICD-Pipelines</h2>
    <br>
    <h3>Add "/preditdata" at the end of the URL to navigate to the prediction page</h2>

    <style>
        body {
            background-image: url("../templates/bbvv.jpg");
            background-repeat: repeat;
            background-size: cover;
            background-color: #c68b8b; /* Dark gray color */
            color: #fff; /* Text color (white) */
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

      
        /* Add your additional styles here */

    </style>
</head>

</body>
  
</html>